<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make new product</title>
  </head>
  <body>
    <h1>Edit product</h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
      <label for="name"> Name</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Product Name"
        value="<%= product.name %>"
      />
      <label for="price"> Price</label>
      <input
        type="number"
        name="price"
        id="price"
        placeholder="Price"
        value="<%= product.price  %>"
      />
      <label for="category">Category</label>
      <select name="category" id="category">
        <% for(let category of categories) {%>
        <option value="<%= category %>" <%= product.category === category ? 'selected':''  %>><%= category %></option>
        <% } %>
      </select>
      <button>Submit</button>
      <a href="/products/<%= product._id %>">Back</a>
    </form>
  </body>
</html>
