<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= farm.name %></title>
  </head>
  <body>
    <h1><%=farm.name %></h1>
    <ul>
      <li>City : <%= farm.city %></li>
      <li>Email: <%= farm.email %></li>
      <a href="/farms">All Farms</a>
    </ul>
    <h2>Products</h2>
    <ul>
      <% for(let product of farm.products){ %>
      <li><a href="/products/<%=product._id%>"><%= product.name %></a></li>
      <!-- * to display the product name we have to populate the products field when we find the farm in the get request -->

      <% } %>
    </ul>
    <a href="/farms/<%=farm._id%>/products/new">Add Product</a>
    <form action="/farms/<%=farm._id%>?_method=DELETE" method="post">
      <button>Delete Farm</button>
    </form>
  </body>
</html>
